#root {
  margin: 0 auto;
  width: 100%;
  /*   border: 2px solid black; */
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 1rem;
}

#loading-div {
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.hidden {
  display: none;
}

#top-wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #1352a0;
  border-radius: 10px;
}

body {
  font-family: "Open Sans", "Sans-Serif";
}

/*=== FORM ELEMENTS ===*/
#forms-wrapper {
  /*For mobile: disable flex/grid */
  margin: 0 auto;
  color: white;
}

.from-to {
  position: relative; /* Had to set this bc img is absolute; this way img reacts to #from and not document when using right/top etc. */
}

#img-from,
#img-to {
  height: 40px;
  width: 40px;
  position: absolute;
  top: -10px;
  left: 55px;
}

.form-div {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
/* aligns text to left */
.form-label {
  font-size: 1.1rem;
  align-self: flex-start;
  width: 100%;
  /*       border: 2px solid red; */
}
.form-element {
  height: 4rem;
  width: 16rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 10px;
}

/*Makes input and select same size*/
input,
select {
  box-sizing: border-box;
}

/* Same as form-div with no margin */
#button-div {
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
#btn-switch {
  width: 5rem;
  font-size: 2.5rem;
  color: #15b76e;
  background-color: #1352a0;
  border: none;
  margin-top: -2rem;
  margin-bottom: -2rem;
  cursor: pointer;
}
#btn-switch:hover {
  font-size: 2.6rem;
}
#arrow-horizontal {
  display: none;
}

/*=== RESULT ELEMENTS ===*/
#result-div {
  margin-top: 1rem;
  text-align: center;
  color: white;
}
#result-from-p {
  font-size: 1.5rem;
}

#result-to-p {
  font-size: 2.3rem;
  position: relative;
  top: -1rem;
}

/*=== CHART ELEMENTS ===*/
#charts-wrapper {
  /*Responsive edit for ipad/mobile: remove grid */
  display: none; /*Hidden on mobile*/
}
.chart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
}
.column-chart {
  width: 198px; /* stops chart from expanding */
  /*       border: 1px solid red; */
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.chart-header,
.currency-header,
.line-odd,
.line-even {
  width: 198px; /* stops chart from expanding */
  /*Spacing between lines*/
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.chart-header {
  margin: 0 auto;
}

.currency-header {
  margin-top: 0.5rem;
  margin-bottom: 0;
  border-top: 1px solid gray;
}

.line-odd,
.line-even {
  width: 100%; /*Changes border and background length */
  margin: 0 auto;
  border-top: 1px solid gray;
}
.line-odd {
  background-color: #f2f2f2;
}
.line-even {
  background-color: #e6e6e6;
}

#anchor {
  font-size: 0.8rem;
}
a {
  color: #1352a0;
  text-decoration: none;
}

/*****Media Queries*****/
/*** iPad/tablets ***/
@media only screen and (min-width: 760px) {
  #header {
    position: relative;
    right: 7rem;
  }
  #result-div {
    margin-top: 3rem;
  }

  #charts-wrapper {
    /*Responsive edit for ipad/mobile: remove grid */
    display: block; /*Hidden on mobile*/
    margin-top: 2rem;
  }

  /* Increase background-color width to be wider than charts*/
  #top-wrapper {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

/*** Laptops/Desktops ***/
@media only screen and (min-width: 1000px) {
  #header {
    position: relative;
    right: 21.8rem;
  }
  #forms-wrapper {
    /*Adjust #board width and .square height for responsive*/
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 0.5rem;
  }
  #img-to {
    left: 30px;
    top: -10px;
  }

  #btn-switch {
    font-size: 2.5rem;
    margin: 0;
  }

  #result-div {
    margin-top: 4rem;
  }

  #top-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /*Need to stop size from changing between conversions */
  #charts-wrapper {
    /*     width: 50%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8rem;
    margin-top: 2rem;
  }
  #arrow-vertical {
    display: none;
  }
  #arrow-horizontal {
    display: block;
  }
}
